.container {
  height: 100%;
  display: flex;
  min-width: 600px;
}

.left-panel {
  flex-basis: 200px;
  height: 100%;
  width: 100%;
  background-color: pink;
}
.center-panel {
  flex: 1;
  background-color: green;
}
.right-panel {
  flex-basis: 300px;
  background-color: blue;
}

.box {
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
